.content {
    width: 100vw;
    height: auto;
    padding: 20vh 10vh 10vh 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .general_content {
    width: 100vw;
    height: min-content;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding: 5vh 0vh;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
    border-radius: 1.4vh;
    box-shadow: 10px 10px 40px 1px;
}

.content>.general_content .title {
    align-items: center;
    color: #40b5cb;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    text-shadow: -.5px -.5px 0 #97ce4c, .5px -.5px 0 #97ce4c, -.5px .5px 0 #97ce4c, .5px .5px 0 #97ce4c;
    width: 100%;
}

.card_character {
    background-color: #186f7e;
    width: 25%;
    border-radius: 1.4vh;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    justify-content: flex-start;
    align-items: center;
}

.header_card {
    background-color: #1a5b66;
    border-radius: 1.4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 2vh;
    width: 100%;
}

.header_card .name_character {
    color: #97ce4c;
    font-size: 2em;
}

.header_card .id_character {
    align-items: center;
    background-color: #97ce4c;
    border-radius: 50%;
    box-shadow: 0 0 10px -2px;
    color: #1a5b66;
    display: flex;
    height: 3rem;
    justify-content: center;
    pointer-events: none;
    width: 3rem;
    font-size: 1.2em;
}

.image_character {
    width: 16vw;
    height: min-content;
    border-radius: 1.4vh;
}

.image_character>img {
    width: 100%;
    border-radius: 1.4vh;
}

.info_character {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1.4vh;
}

.info_character section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding: 2vh 0vh;
}

.info_character>section>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info_character>section>div>label {
    font-size: 1.3em;
    font-weight: 600;
    color: #FFFFFF;
}

.info_character>section>div>p {
    color: #FFFFFF;
    text-align: center;
    flex-wrap: wrap;
}

@media (max-width: 1680px) {

    .content .general_content {
        background-color: #ffffff;
    }

    .content {
        padding: 15vh 10vh 10vh 10vh;
    }
}

@media (max-width: 1280px) {

    .content .general_content {
        background-color: #ffffff;
    }

    .content {
        padding: 10vh 10vh 10vh 10vh;
    }

    .card_character {
        width: 50%;
    }

    .image_character {
        width: 20vw;
    }
}

@media (max-width: 1024px) {

    .content .general_content {
        background-color: #ffffff;
    }

    .content>.general_content .title {
        font-size: 1.8em;
    }

    .card_character {
        width: 70%;
    }

    .image_character {
        width: 35vw;
    }
}

@media (max-width: 768px) {

    .content .general_content {
        background-color: #ffffff;
    }

    .content>.general_content .title {
        font-size: 1.8em;
    }

    .content {
        padding: 10vh 5vh 10vh 5vh;
    }
}

@media (max-width: 670px) {

    .content .general_content {
        background-color: #ffffff;
    }

    .content {
        padding: 10vh 5vh 10vh 5vh;
    }

    .header_card .name_character {
        font-size: 1.4em;
    }

    .header_card .id_character {
        font-size: 1em;
    }

    .card_character {
        width: 80%;
    }

    .image_character {
        width: 40vw;
    }
}

@media (max-width: 468px) {
    .content .general_content {
        background-color: #ffffff;
    }

    .content {
        padding: 10vh 5vh 10vh 5vh;
    }

    .header_card .name_character {
        font-size: 1.1em;
    }

    .header_card .id_character {
        font-size: 0.7em;
        height: 2rem;
        width: 2rem;
    }

    .card_character {
        width: 80%;
    }

    .image_character {
        width: 40vw;
    }

    .info_character>section>div>label {
        font-size: 1em;
    }

    .info_character>section>div>p {
        font-size: 0.8em;
    }
}

@media (max-width: 360px) {
    .card_character {
        width: 90%;
    }

    .image_character {
        width: 40vw;
    }

    .content .general_content {
        background-color: #ffffff;
    }

    .content {
        padding: 10vh 5vh 10vh 5vh;
    }

    .info_character>section>div>label {
        font-size: 0.8em;
    }

    .info_character>section>div>p {
        font-size: 0.6em;
    }
}