.header {
    background-color: #97ce4c;
    padding: 2vh 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 3;
}

.menu {
    display: flex;
    gap: 2vh;
}

.menu_mobile_option {
    display: none;
}

.menu>li {
    list-style: none;
}

.option_menu {
    color: #1a5b66;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
}

.option_menu:hover {
    color: #133136;
}

.grid_container_recentchar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    width: 85vw;
    height: min-content;
    gap: 2vh;
    padding: 0vh 3vh;
}

.menu_movil {
    display: inline;
}

.card {
    background-color: #133136;
    position: relative;
    border-radius: 1.4vh;
}

.card:hover {
    cursor: pointer;
    transform: scale(0.99);
    box-shadow: 0px 0px 10px 0px #000000;
}

.card>img {
    width: 100%;
    height: 300px;
    border-radius: 1.4vh;
}

.card .number_card {
    align-items: center;
    background-color: #1a5b66;
    border-radius: 50%;
    box-shadow: 0 0 10px -2px;
    color: #fff;
    display: flex;
    height: 3rem;
    justify-content: center;
    margin-right: .4em;
    margin-top: .4em;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 3rem;
    z-index: 1;
}

.character_info {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.528);
    width: 100%;
    height: 25%;
    border-radius: 1.4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 1px 1px 1px 0.2px #97ce4c;
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
}

.character_info>section {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    text-align: center;
}

.character_name {
    color: #186f7e;
}

.character_status {
    text-transform: capitalize;
}

.character_gender,
.character_species {
    color: #201f1f;
}

.card_episodes {
    background-color: #FFFFFF;
    width: 100%;
    height: 20vh;
    box-shadow: 0px 0px 10px 1px #201f1f80;
    border-radius: 1.4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_episodes section {
    width: 100%;
    background-color: #133136;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    border-radius: 1.4vh 1.4vh 1.4vh 1.4vh;

}

.card_episodes>section>h3 {
    text-align: center;
    width: 100%;
    padding: 1vh 0vh;
    color: #1a7c8d;
}

.card_episode_info {
    height: 50%;
    border-radius: 1.4vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

.content {
    width: 100vw;
    height: auto;
    padding: 10vh 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .general_content {
    width: 100vw;
    height: min-content;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding: 1vh 0vh;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

.content>.general_content .title {
    align-items: center;
    color: #40b5cb;
    display: flex;
    font-size: 2rem;
    justify-content: center;
    text-shadow: -.5px -.5px 0 #97ce4c, .5px -.5px 0 #97ce4c, -.5px .5px 0 #97ce4c, .5px .5px 0 #97ce4c;
    width: 100%;
}

.container_component {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4vh;
}

.container_component select {
    background-color: #1a5b66;
    border: .9px solid #97ce4c;
    border-radius: 5px;
    color: #97ce4c;
    font-size: 1.2em;
    outline: none;
    padding: .7rem .9rem;
}

.container_component select:hover {
    cursor: pointer;
}

.filters_container {
    width: 85vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0vh 4vh;
}

.filters_container .form_group {
    display: flex;
    flex-direction: column;
}

.filters_container .form_group>input {
    background-color: #1a5b66;
    border: .9px solid #97ce4c;
    border-radius: 5px;
    color: #97ce4c;
    font-size: 1.2em;
    outline: none;
    padding: .7rem .9rem;
}

.filters_container .form_group>button {
    background-color: #97ce4c;
    border: .9px solid #1a5b66;
    border-radius: 5px;
    color: #1a5b66;
    font-size: 1.2em;
    outline: none;
    padding: .7rem .9rem;
}

.filters_container .form_group>button:hover {
    color: #97ce4c;
    background-color: #133136;
    cursor: pointer;
    transform: scale(0.9);
}

.filters_container .form_container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2vh;
}

.form_group label {
    font-size: 1.2em;
    color: #133136;
    font-weight: 700;
}

.container_error {
    display: flex;
    align-items: flex-start;
    gap: 4vh;
}

.container_error img {
    width: 25%;
}

.container_error h3 {
    color: #1a5b66;
    font-size: 2rem;
    font-weight: 900;
    padding: 1.3rem;
    text-align: center;
    word-break: keep-all;
    margin-top: 15%;
}

.custom_loader {
    width: 50px;
    height: 50px;
    display: grid;
    animation: s4 4s infinite;
}

.custom_loader::before,
.custom_loader::after {
    content: "";
    grid-area: 1/1;
    border: 8px solid;
    border-radius: 50%;
    border-color: #97ce4c #97ce4c #0000 #0000;
    mix-blend-mode: darken;
    animation: s4 1s infinite linear;
}

.custom_loader::after {
    border-color: #0000 #0000 #E4E4ED #E4E4ED;
    animation-direction: reverse;
}

.loader_container {
    width: 100vw;
    height: 50vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 0.3rem;
}

.button_paginate {
    background-color: #1a5b66;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 9px;
    color: #97ce4c;
    border: none;
    font-size: 1.5rem
}

.button_paginate:hover {
    cursor: pointer;
}

.active_button {
    background-color: #97ce4c;
    color: #1a5b66;
}

.icons_menu {
    display: none;
}


@keyframes s4 {
    100% {
        transform: rotate(1turn)
    }
}

@media (max-width: 1680px) {
    .grid_container_recentchar {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .character_info>section {
        font-size: 0.9em;
    }
}

/* Media query para pantallas medianas */
@media (max-width: 1280px) {
    .grid_container_recentchar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 75vw;
    }

    .filters_container {
        flex-direction: column;
        gap: 1vh;
        width: 75vw;
    }

    .character_info>section {
        font-size: 0.8em;
    }
}

/* Media query para tabletas */
@media (max-width: 1024px) {
    .icons_menu {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .menu {
        display: none;
    }

    .grid_container_recentchar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 75vw;
    }

    .character_info>section {
        font-size: 0.7em;
    }

    .card_episodes>section>h3 {
        font-size: 0.7em;
    }

    .card_episodes {
        height: 17vh;
    }

    .card_episode_info>h3 {
        font-size: 0.8em;
    }

    .open_menu {
        color: #1a5b66;
        position: absolute;
        font-size: 2em;
        opacity: 1;
        transition: all 0.4s ease-in;
    }

    .open_menu_hidden {
        color: #1a5b66;
        position: absolute;
        font-size: 2em;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }

    .close_menu {
        color: #1a5b66;
        position: absolute;
        font-size: 2em;
        opacity: 1;
        transition: all 0.4s ease-in;
    }

    .close_menu_hidden {
        color: #1a5b66;
        position: absolute;
        font-size: 2em;
        opacity: 0;
        transition: all 0.4s ease-in-out;
    }

    .header .image_logo {
        width: 40%;
        height: 20%;
    }

    .menu_mobile_option {
        display: inline;
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 4vh;
        justify-content: center;
        align-items: center;
    }

    .menu_movil {
        position: absolute;
        display: inline flex;
        width: 100vw;
        height: 40vh;
        background-color: #97ce4c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        margin-top: -1vh;
        transition: all 1s ease-in-out;
    }

    .menu_movil_show {
        position: absolute;
        display: inline flex;
        width: 100vw;
        height: 40vh;
        background-color: #97ce4c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 2;
        margin-top: -40vh;
        transition: all 1s ease;
    }

    .option_menu {
        font-size: 1.3em;
    }


    .card_episodes>section>h3 {
        font-size: 0.9em;
    }

    .container_component select {
        font-size: 1em;
        padding: .4rem .6rem;
    }

    .form_group label {
        font-size: 0.8em;
    }

    .filters_container .form_group>input {
        font-size: 1em;
        padding: .4rem .6rem;
    }

    .filters_container .form_group>button {
        font-size: 1em;
        padding: .4rem .6rem;
    }
}

@media (max-width: 768px) {
    .grid_container_recentchar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 75vw;
    }

    .character_info>section {
        font-size: 0.9em;
    }

    .card_episodes>section>h3 {
        font-size: 0.9em;
    }

    .container_component select {
        font-size: 0.7em;
        padding: .4rem .6rem;
    }

    .form_group label {
        font-size: 0.8em;
    }

    .filters_container .form_group>input {
        font-size: 0.7em;
        padding: .4rem .6rem;
    }

    .filters_container .form_group>button {
        font-size: 0.7em;
        padding: .4rem .6rem;
    }
}

@media (max-width: 670px) {

    .grid_container_recentchar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 75vw;
    }

    .character_info>section {
        font-size: 0.9em;
    }

    .card_episodes>section>h3 {
        font-size: 0.9em;
    }

    .container_component select {
        font-size: 0.7em;
        padding: .4rem .6rem;
    }

    .form_group label {
        font-size: 0.8em;
    }

    .form_container:last-child {
        width: 60vw;
        flex-wrap: wrap;
    }

    .filters_container .form_group>input {
        font-size: 0.7em;
        padding: .4rem .6rem;
    }

    .filters_container .form_group>button {
        font-size: 0.7em;
        padding: .4rem .6rem;
    }

}

@media (max-width: 468px) {
    .character_info>section {
        font-size: 0.7em;
    }

    .card_episodes>section>h3 {
        font-size: 0.7em;
    }

    .filters_container .form_group>input {
        font-size: 0.7em;
        padding: .4rem .6rem;
        width: 12vh;
    }

    .filters_container .form_group>button {
        font-size: 0.7em;
        padding: .4rem .6rem;
    }
}

@media (max-width: 360px) {

    .content .general_content {
        background-color: deepskyblue;
    }

    .content {
        padding: 10vh 5vh 10vh 5vh;
    }

    .form_container:first-child {
        flex-direction: column-reverse;
    }
}